.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background-color: rgba(38, 33, 124, 0.389);
  margin-top: 15px;
  border-radius: 25px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 70px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn {
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-out;
  &:hover {
    transform: scale(1.05);
  }
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #007BFF;
}

.title-text {
  font-size: 6rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 1rem;
  letter-spacing: -0.25rem;
  animation: title-animation 1s ease-in-out infinite alternate;
}



@keyframes title-animation {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(15rem);
  }
}

.navbar__logo {
  font-size: 22px;
  font-family: 'Open Sans', sans-serif;
}

.card-container {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;

  .card {
    width: 20%;
    border: 2px solid #ccc;
    padding: 50px;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;

    img {
      height: 200px;
      width: 200px;
    }

    h2 {
      font-size: 24px;
      margin: 10px 0;
    }

    p {
      font-size: 16px;
      color: #777;
    }

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    }

    &:not(:hover) {
      transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    }

  }
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin: 0 10px;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

body {
  background-image: url('../images/why.jpg');
}

footer {
  background-color: #25496d;
  padding: 1rem;
  text-align: center;
}